.box5 {
  display: flex;
  background: #fdf8f5;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.box2 {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    border-bottom: 3px solid #222222;
    padding-bottom: 4px;
  }
  p {
    padding-top: 4px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
  }
}
.box3 {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    border-bottom: 3px solid #222222;
    padding-bottom: 4px;
  }
  p {
    padding-top: 4px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
  }
}
.box4 {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    border-bottom: 3px solid #222222;
    padding-bottom: 4px;
  }
  p {
    padding-top: 4px; 
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
  }
}
