#h2 {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 0%;
  color: #000000;
  padding-left: 100px;
}

.our {
  display: flex;
  gap: 420px;
  justify-content: center;
  padding-left: 40px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.our p {
  font-family: Red Hat Display;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #555555;
}

.our a {
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #222222;
}

#img1 {
  width: 600px;
  height: 630px;
}

#img2 {
  width: 600px;
  height: 630px;
}

.cards {
  display: flex;
  gap: 158px;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.card {
  border: 1px solid #685a5230;
}

.card h4 {
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0%;
  color: #222222;
  padding: 20px 221px 16px 32px;
}

.card p {
  font-family: Red Hat Display;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #555555;
  padding-left: 32px;
  padding-right: 52px;
  padding-bottom: 48px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 32px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.buy {
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #402f2c;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
}

.add {
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #402f2c;
  padding: 16px 32px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #685a5275;
}

.price p {
  font-family: Red Hat Display;
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: right;
  color: #222222;
  padding-left: 80px;
  padding-top: 60px; 
}
