.nav-left h2{
font-family: Red Hat Display;
font-weight: 700;
font-size: 28px;
line-height: 30px;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
}

header{
background-color: #F9F6F5;
}

.container{
width: 1240px;
margin: 0 auto;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px 0px;
}

.nav-parent{
background-color: #F9F6F5;
}

.parent-li{
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
font-family: Red Hat Display;
font-weight: 500;
font-size: 16px;
line-height: 25px;
letter-spacing: 0%;
color: #222222;
}

.parent-li li a:hover{
color: #4b3a36;
}

.nav-right{
display: flex;
align-items: center;
justify-content: center;
gap: 24px;
width: 15px;
height: 19px;
opacity: 1;
top: 2.5px;
left: 4px;
border-width: 1.5px;
font-size: 20px;
}

.nav-right i:hover{
color: #4b3a36;
}

.parent{
display: flex;
align-items: center;
justify-content: center;
}

.left{
margin-left: 140px;
display: flex;
align-items: start;
justify-content: start;
flex-direction: column;
row-gap: 30px;
z-index: 5;
}

.h1{
font-family: Red Hat Display;
font-weight: 500;
font-size: 48px;
line-height: 70px;
letter-spacing: 0%;
width: 621px;
}

.img{
width: 760px;
}

.text1{
color: #555555;
width: 516px;
}

.input-parent{
position: relative;
}

.icon1{
position: absolute;
left: 285px;
top: 8px;
padding: 8px 23px 8px 8px;
color: white;
background-color: #402F2C;
}

.input{
padding: 8px;
width: 326px;
height: 48px;
opacity: 1;
border: none;
}

.btn{
padding: 16px 32px;
background-color: #402F2C;
color: white;
border: none;
font-family: Red Hat Display;
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
margin-top: 20px;

}

.btn:hover{
color: #402F2C;
background-color: #eae7e6;
}